/*This is the Style Sheet for index.html*/

html, body {
    height: 100%;
}

.jumbotron {
	background-color: white;
}

.note {
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
    max-width: 400px;
    border: 1px solid black;
    background-color: white !important;
}